img {
  max-width: 100%;
}

.product_things {
  display: flex;
  justify-content: space-around;
}

.product_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2rem;
  justify-content: center;
}

.shopping_cart {
  width: 100%;
}
.list_item {
  max-width: 200px;
  list-style: none;
}

.basket_item {
  display: flex;
}

.basket_item img {
  max-width: 50px;
  height: auto;
}
