.App {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: darkgray;
  padding: 3rem 1.5rem;
}
.form_input {
  display: flex;
  flex-direction: column;
}

.list_item {
  display: flex;
  flex-direction: column;
}

.list_container {
  background-color: #add8e6a6;
  padding: 3rem 2rem;
}
