* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(65, 69, 71);
  color: rgb(250, 243, 243);
}

header {
  text-align: center;
  margin: 3rem auto;
}

.product_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.product_list img {
  max-width: 100%;
}

.list_item {
  max-width: 170px;
  list-style: none;
  background-color: #fff;
  color: rgb(65, 69, 71);
  border-radius: 7px;
  overflow: hidden;
}
.text_area {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#load_more_btn {
  display: flex;
  margin: 2rem auto;
}
.image_desclaimer {
  text-align: center;
}
.image_desclaimer a {
  color: lightblue;
  text-decoration: none;
}
