#root {
  display: flex;
  justify-content: center;
}

body {
  /* background-color: darkgray; */
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  padding: 3rem 1.5rem;
  max-width: 100%;
}

form {
  background-color: cadetblue;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.form_input {
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  gap: 2rem;
}

label {
  font-size: 3rem;
  font-weight: 600;
}

.list_wrapper {
  background-color: #e6adad66;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.list_item {
  display: flex;
  flex-direction: column;
  background: lightblue;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 8px;
}

.list_container {
  padding: 3rem 2rem;
}
